<div class="profile-edit-pass">
  <div class="profile-edit-pass-goback-block">
    <img src="{{backBtn}}" alt="backBtn">
  </div>
  <div class="profile-edit-pass-content-wrapper">
    <div class="profile-edit-pass-content">
      <div class="profile-edit-pass-avatar-block">
        <span class="profile-edit-pass-avatar">
          <img src="{{avatarImg}}" class="profile-edit-pass-avatar-img" />
        </span>
      </div>
      <form class="profile-edit-pass-data-block">
        {{> profile-fields-list profileFields=passwordFields}}
      </form>
      <div class="profile-edit-pass-links-block">
        {{> btn href="#" class="btn" text="Сохранить"}}
      </div>
    </div>
  </div>
</div>