<div class="serverError-container">
  <h1 class="serverError-header">500</h1>
  <p class="serverError-description">Мы уже фиксим</p>
  <button class="serverError-backBtn">Назад к чатам</button>
</div>