<div class="server-error-container">
  <h1 class="server-error-header">500</h1>
  <p class="server-error-description">Мы уже фиксим</p>
  {{#Link href="#" id="renderChatsBtn" className="btn-secondary"}}
    Назад к чатам
  {{/Link}}
</div>
