<div class="user-change-data">
  <div class="user-change-data-goback-block">
    <img src="{{backBtn}}" alt="backBtn">
  </div>
  <div class="user-change-data-content-wrapper">
    <div class="user-change-data-content">
      <div class="user-change-data-avatar-block">
        <span class="user-change-data-avatar">
          <img src="{{avatarImg}}" class="user-change-data-avatar-img" />
        </span>
      </div>
      <div class="user-change-data-data-block">
        <ul class="user-change-data-data-list">
            {{> user-label-input label="Почта" type="text" name="email" autocomplete="email" value="pochta@yandex.ru"}}
            {{> user-label-input label="Логин" type="text" name="login" autocomplete="login" value="ivanivanov"}}
            {{> user-label-input label="Имя" type="text" name="first_name" autocomplete="first_name" value="Иван"}}
            {{> user-label-input label="Фамилия" type="text" name="second_name" autocomplete="second_name" value="Иванов"}}
            {{> user-label-input label="Имя в чате" type="text" name="display_name" autocomplete="display_name" value="Иван"}}
            {{> user-label-input label="Телефон" type="text" name="phone" autocomplete="phone" value="+7 (909) 967 30 30"}}
        </ul>
      </div>
      <div class="user-change-data-links-block">
        {{> btn href="#" class="btn" text="Сохранить"}}
      </div>
    </div>
  </div>
</div>