<div class="user-data">
    <div class="user-data-goback-block">
        <span class="user-data-goback-btn">back</span>
    </div>
    <div class="user-data-content-wrapper">
        <div class="user-data-content">
            <div class="user-data-avatar-block">
                <span class="user-data-avatar">
                    <img class="user-data-avatar-img">
                </span>
            </div>
            <div class="user-data-data-block">
                <ul class="user-data-data-list">
                    <li class="user-data-data-item">
                        <span class="user-data-data-item-title">Почта</span>
                        <span class="user-data-data-item-value">pochta@yandex.ru</span>
                    </li>
                    <li class="user-data-data-item">
                        <span class="user-data-data-item-title">Логин</span>
                        <span class="user-data-data-item-value">ivanivanov</span>
                    </li>
                    <li class="user-data-data-item">
                        <span class="user-data-data-item-title">Имя</span>
                        <span class="user-data-data-item-value">Иван</span>
                    </li>
                    <li class="user-data-data-item">
                        <span class="user-data-data-item-title">Фамилия</span>
                        <span class="user-data-data-item-value">Иванов</span>
                    </li>
                    <li class="user-data-data-item">
                        <span class="user-data-data-item-title">Имя в чате</span>
                        <span class="user-data-data-item-value">Иван</span>
                    </li>
                    <li class="user-data-data-item">
                        <span class="user-data-data-item-title">Телефон</span>
                        <span class="user-data-data-item-value">+7 (909) 967 30 30</span>
                    </li>
                </ul>
            </div>
            <div class="user-data-links-block">
                <ul class="user-data-links-list">
                    <li class="user-data-links-item">
                        <button class="user-data-links-item-link">Сохранить</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>