<div class="user-info">
  <div class="user-info-goback-block">
    <img src="{{backBtn}}" alt="backBtn">
  </div>
  <div class="user-info-content-wrapper">
    <div class="user-info-content">
      <div class="user-info-avatar-block">
        <span class="user-info-avatar">
          <img src="{{avatarImg}}" class="user-info-avatar-img" />
        </span>
        <span class="user-info-username">Иван</span>
      </div>
      <div class="user-info-data-block">
        <ul class="user-info-data-list">
            {{> user-label-input label="Почта" type="text" name="email" autocomplete="email" value="pochta@yandex.ru" readonly="true"}}
            {{> user-label-input label="Логин" type="text" name="login" autocomplete="login" value="ivanivanov" readonly="true"}}
            {{> user-label-input label="Имя" type="text" name="first_name" autocomplete="first_name" value="Иван" readonly="true"}}
            {{> user-label-input label="Фамилия" type="text" name="second_name" autocomplete="second_name" value="Иванов" readonly="true"}}
            {{> user-label-input label="Имя в чате" type="text" name="display_name" autocomplete="display_name" value="Иван" readonly="true"}}
            {{> user-label-input label="Телефон" type="text" name="phone" autocomplete="phone" value="+7 (909) 967 30 30" readonly="true"}}
        </ul>
      </div>
      <div class="user-info-links-block">
        <ul class="user-info-links-list">
          <li class="user-info-links-item">
            <a
              href="#"
              id="renderChangeDataBtn"
              class="user-info-links-item-link"
            >Изменить данные</a>
          </li>
          <li class="user-info-links-item">
            <a
              href="#"
              id="renderChangePassBtn"
              class="user-info-links-item-link"
            >Изменить пароль</a>
          </li>
          <li class="user-info-links-item">
            <a
              href="#"
              id="renderSigninBtn"
              class="user-info-links-item-link user-info-links-item-link--danger"
            >Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>