<div class="user-info">
    <div class="user-info-goback-block">
        <span class="user-info-goback-btn">back</span>
    </div>
    <div class="user-info-content-wrapper">
        <div class="user-info-content">
            <div class="user-info-avatar-block">
                <span class="user-info-avatar">
                    <img class="user-info-avatar-img">
                </span>
                <span class="user-info-username">Иван</span>
            </div>
            <div class="user-info-data-block">
                <ul class="user-info-data-list">
                    <li class="user-info-data-item">
                        <span class="user-info-data-item-title">Почта</span>
                        <span class="user-info-data-item-value">pochta@yandex.ru</span>
                    </li>
                    <li class="user-info-data-item">
                        <span class="user-info-data-item-title">Логин</span>
                        <span class="user-info-data-item-value">ivanivanov</span>
                    </li>
                    <li class="user-info-data-item">
                        <span class="user-info-data-item-title">Имя</span>
                        <span class="user-info-data-item-value">Иван</span>
                    </li>
                    <li class="user-info-data-item">
                        <span class="user-info-data-item-title">Фамилия</span>
                        <span class="user-info-data-item-value">Иванов</span>
                    </li>
                    <li class="user-info-data-item">
                        <span class="user-info-data-item-title">Имя в чате</span>
                        <span class="user-info-data-item-value">Иван</span>
                    </li>
                    <li class="user-info-data-item">
                        <span class="user-info-data-item-title">Телефон</span>
                        <span class="user-info-data-item-value">+7 (909) 967 30 30</span>
                    </li>
                </ul>
            </div>
            <div class="user-info-links-block">
                <ul class="user-info-links-list">
                    <li class="user-info-links-item">
                        <a id="renderChangeDataBtn" class="user-info-links-item-link">Изменить данные</a>
                    </li>
                    <li class="user-info-links-item">
                        <a id="renderChangePassBtn" class="user-info-links-item-link">Изменить пароль</a>
                    </li>
                    <li class="user-info-links-item">
                        <a id="renderSigninBtn" class="user-info-links-item-link user-info-links-item-link--danger">Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>