:root {
  --text-color-default: #1e1e1e;
  --text-color-white: #fff;
  --text-color-muted: #999;
  --text-color-blue: #3369f3;

  --bg-color-muted: #efefef;
  --bg-color-blue: #3369f3;

  --border-color: #eaeaea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h5,
p {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color-default);
}

h1 {
  font-size: 20px;
  line-height: 20px;
}

h5 {
  font-size: 13px;
  line-height: 13px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
