<div class="signup-wrapper">
  <div class="signup-container">
    <h1 class="signup-header">Регистрация</h1>
    <form class="signup-form">
      <ul class="login-field-list">
        {{#each loginFields}}
          {{#LoginField
            id=this.id label=this.label type=this.type name=this.name
          }}{{/LoginField}}
        {{/each}}
      </ul>
      <div class="signup-form-signup-btn-container"></div>
    </form>

    <div class="signup-form-signin-btn-container"></div>
  </div>
</div>
