<div class="signup-wrapper">
  <div class="signup-container">
    <h1 class="signup-header">Регистрация</h1>
    <form class="signup-form">
      <div class="signup-form-input-group">
        <label class="signup-form-label">Почта</label>
        <input type="text" class="signup-form-input" />
        <label class="signup-form-label">Логин</label>
        <input type="text" class="signup-form-input" />
        <label class="signup-form-label">Имя</label>
        <input type="text" class="signup-form-input" />
        <label class="signup-form-label">Фамилия</label>
        <input type="text" class="signup-form-input" />
        <label class="signup-form-label">Телефон</label>
        <input type="text" class="signup-form-input" />
        <label class="signup-form-label">Пароль</label>
        <input type="password" class="signup-form-input" />
        <label class="signup-form-label">Пароль (еще раз)</label>
        <input type="password" class="signup-form-input" />
      </div>
      <div class="signup-form-btn-group">
        <button class="signup-form-btn">Зарегистрироваться</button>
        <button
          class="signup-form-btn singup-form-btn--transparent"
        >Войти</button>
      </div>
    </form>
  </div>
</div>