<div class="signup-wrapper">
  <div class="signup-container">
    <h1 class="signup-header">Регистрация</h1>
    <form class="signup-form">
      <ul class="login-field-list">
        {{#each loginFields}}
          {{#LoginField
            id=this.id label=this.label type=this.type name=this.name
          }}{{/LoginField}}
        {{/each}}
      </ul>
      <div class="signup-form-signup-btn-wrapper">
        {{#Link href="#" id="signup" className="btn renderSigninBtn"}}
          Зарегистрироваться
        {{/Link}}
      </div>
    </form>

    <div class="signup-container-signin-btn-wrapper">
      {{#Link href="#" id="signin" className="btn-secondary renderSigninBtn"}}
        Войти
      {{/Link}}
    </div>
  </div>
</div>
