<div class="signup-wrapper">
  <div class="signup-container">
    <h1 class="signup-header">Регистрация</h1>
    <form class="signup-form">
      <div class="signup-form-input-group">
        {{> label-input label="Почта" type="text" name="email" autocomplete="email"}}
        {{> label-input label="Логин" type="text" name="login" autocomplete="login"}}
        {{> label-input label="Имя" type="text" name="first_name" autocomplete="first_name"}}
        {{> label-input label="Фамилия" type="text" name="second_name" autocomplete="second_name"}}
        {{> label-input label="Телефон" type="text" name="phone" autocomplete="phone"}}
        {{> label-input label="Пароль" type="password" name="password" autocomplete="password"}}
        {{> label-input label="Пароль (еще раз)" type="password" name="password" autocomplete="password"}}
      </div>
      <div class="signup-form-signup-btn-wrapper">
        {{> btn href="#" class="btn renderSigninBtn" text="Зарегистрироваться"}}
      </div>
    </form>

    <div class="signup-container-signin-btn-wrapper">
      {{> btn href="#" class="btn-secondary renderSigninBtn" text="Войти"}}
    </div>
  </div>
</div>