.login-field-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-field-label {
  font-size: 9px;
  line-height: 9px;
  color: var(--text-color-muted);
}

.login-field-input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--bg-color-blue);
}
