<div class="user-pass">
    <div class="user-pass-goback-block">
        <span class="user-pass-goback-btn">back</span>
    </div>
    <div class="user-pass-content-wrapper">
        <div class="user-pass-content">
            <div class="user-pass-avatar-block">
                <span class="user-pass-avatar">
                    <img class="user-pass-avatar-img">
                </span>
            </div>
            <div class="user-pass-pass-block">
                <ul class="user-pass-pass-list">
                    <li class="user-pass-pass-item">
                        <span class="user-pass-pass-item-title">Старый пароль</span>
                        <input type="password" class="user-pass-pass-item-value">
                    </li>
                    <li class="user-pass-pass-item">
                        <span class="user-pass-pass-item-title">Новый пароль</span>
                        <input type="password" class="user-pass-pass-item-value">
                    </li>
                    <li class="user-pass-pass-item">
                        <span class="user-pass-pass-item-title">Повторите пароль</span>
                        <input type="password" class="user-pass-pass-item-value">
                    </li>
                </ul>
            </div>
            <div class="user-pass-links-block">
                <ul class="user-pass-links-list">
                    <li class="user-pass-links-item">
                        <button class="user-pass-links-item-link">Сохранить</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>