.context-menu {
	position: fixed;
	background: white;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.625rem rgb(0 0 0 / 10%);
	z-index: 1000;
	max-width: 200px;
	transform: translate(0, 0);
}

.context-menu-delete-btn {
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.context-menu-delete-btn:hover {
	background: var(--bg-color-lightgrey);
}
