<div class="chats-container">
  <aside class="aside">
    <div class="aside-top-section">
      <a id="renderUserInfoBtn" class="aside-to-profile-btn">Профиль</a>
      <input type="search" class="aside-search" placeholder="Поиск" />
    </div>
    <ul class="chat-list">
      <li class="chat-item">
        <span class="chat-item-avatar"></span>
        <div class="chat-item-content-block">
          <h5 class="chat-item-header">Андрей</h5>
          <p class="chat-item-message">Изображение</p>
        </div>
        <div class="chat-item-info-block">
          <span class="chat-item-msg-time">10:49</span>
          <span class="chat-item-msg-count">2</span>
        </div>
      </li>
      <li class="chat-item">
        <span class="chat-item-avatar"></span>
        <div class="chat-item-content-block">
          <h5 class="chat-item-header">Киноклуб</h5>
          <p class="chat-item-message">Вы: стикер</p>
        </div>
        <div class="chat-item-info-block">
          <span class="chat-item-msg-time">12:00</span>
          <span class="chat-item-msg-count"></span>
        </div>
      </li>
      <li class="chat-item">
        <span class="chat-item-avatar"></span>
        <div class="chat-item-content-block">
          <h5 class="chat-item-header">Илья</h5>
          <p class="chat-item-message">Друзья, у меня для вас особенный выпуск
            новостей!...</p>
        </div>
        <div class="chat-item-info-block">
          <span class="chat-item-msg-time">15:12</span>
          <span class="chat-item-msg-count">4</span>
        </div>
      </li>
    </ul>
  </aside>
  <main class="main">
    <div class="main-content">
      <span>Выберите чат, чтобы отправить сообщение</span>
    </div>
  </main>
</div>