.chat-item-msg-count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 12px;
	border-radius: 50%;
	color: var(--text-color-white);
	background-color: var(--bg-color-blue);
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	z-index: 1;
}

.chat-item-delete-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	padding: 2px;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	z-index: 2;
}

.chat-item {
	display: flex;
	min-height: 4.5rem;
	padding: 0.75rem 0.625rem;
	border-bottom: 1px solid var(--border-color);
	cursor: pointer;
	transition: background-color 0.5s ease;

	&:hover {
		background-color: var(--bg-color-lightblue);

		& .chat-item-msg-count {
			opacity: 0;
			visibility: hidden;
		}

		& .chat-item-delete-btn {
			opacity: 1;
			visibility: visible;
		}
	}
}

.chat-item-avatar {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #efefef;

	& img {
		position: absolute;
		top: 12px;
		left: 12px;
		width: 24px;
		height: 24px;
	}
}

.chat-item-content-block {
	flex: 1;
	padding: 0 0.625rem;
}

.chat-item-header {
	margin-bottom: 0.25rem;
}

.chat-item-message {
	font-size: 12px;
	line-height: 15px;
	color: var(--text-color-muted);
	width: 100%;
	max-width: 160px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
	white-space: normal;
}

.chat-item-info-block {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
	width: 60px;
}

.chat-item-msg-time {
	font-size: 9px;
	line-height: 13px;
	color: var(--text-color-muted);
}
