.signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signin-container {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 450px;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

.signin-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.signin-header {
  text-align: center;
  margin: 20px 0 40px 0;
}

.signin-form-input-group {
  display: flex;
  flex-direction: column;
}

.signin-form-btn-group {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
