<div class="signin-wrapper">
  <div class="signin-container">
    <h1 class="signin-header">Вход</h1>
    <form class="signin-form">
      <div class="signin-form-input-group">
        <label class="signin-form-label">Логин</label>
        <input type="text" class="signin-form-input" />
        <label class="signin-form-label">Пароль</label>
        <input type="password" class="signin-form-input" />
      </div>
      <div class="signin-form-btn-group">
        <button class="signin-form-btn">Авторизоваться</button>
        <button class="signin-form-btn singin-form-btn--transparent">Нет
          аккаунта?</button>
      </div>
    </form>
  </div>
</div>