<div class="signin-wrapper">
  <div class="signin-container">
    <h1 class="signin-header">Вход</h1>
    <form class="signin-form">
      <ul class="login-field-list">
        {{#LoginField
          id="login" label="Логин" type="text" name="login"
        }}{{/LoginField}}
        {{#LoginField
          id="password" label="Пароль" type="password" name="password"
        }}{{/LoginField}}
      </ul>
      <div class="signin-form-signin-btn-wrapper">
        {{#Link href="#" id="renderChatsBtn" className="btn"}}
          Войти
        {{/Link}}
      </div>
    </form>

    <div class="signin-container-signup-btn-wrapper">
      {{#Link href="#" id="renderSignupBtn" className="btn-secondary"}}
        Нет аккаунта?
      {{/Link}}
    </div>
  </div>
</div>
