<div class="signin-wrapper">
  <div class="signin-container">
    <h1 class="signin-header">Вход</h1>
    <form class="signin-form">
      <ul class="login-field-list">
        {{#LoginField
          id="login" label="Логин" type="text" name="login"
        }}{{/LoginField}}
        {{#LoginField
          id="password" label="Пароль" type="password" name="password"
        }}{{/LoginField}}
      </ul>
      <div class="signin-form-signin-btn-container"></div>
    </form>

    <div class="signin-form-signup-btn-container"></div>
  </div>
</div>
