<div class="signin-wrapper">
  <div class="signin-container">
    <h1 class="signin-header">Вход</h1>
    <form class="signin-form">
      <ul class="login-field-list">
        {{> login-field label="Логин" type="text" name="login" autocomplete="login"}}
        {{> login-field label="Пароль" type="password" name="password" autocomplete="password"}}
      </ul>
      <div class="signin-form-signin-btn-wrapper">
        {{> btn href="#" id="renderChatsBtn" class="btn" text="Войти"}}
      </div>
    </form>

    <div class="signin-container-signup-btn-wrapper">
      {{> btn href="#" id="renderSignupBtn" class="btn-secondary" text="Нет аккаунта?"}}
    </div>
  </div>
</div>